<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "job/demo1.css" %}">
    <title></title>
  </head>

  <body class="col">
    <h1 class="jobs">Banglore Jobs Information</h1>
      {% if blore_jobs %}
      <table id='tab'>
        <thead>
          <th>Date</th>
          <th>Company</th>
          <th>Title</th>
          <th>Eligibility</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone Number</th>
          




        </thead>
        {%for job in blore_jobs %}
        <tr>
          <td>{{job.date}}</td>
          <td>{{job.company}}</td>
          <td>{{job.title}}</td>
          <td>{{job.eligibility}}</td>
          <td>{{job.address}}</td>
          <td>{{job.email}}</td>
          <td>{{job.phonenumber}}</td>






        </tr>
        {% endfor %}
      </table>
      <div class="pag">
        {%include 'job/pagination.html' with page=blore_jobs%}
      </div>
      {%else %}
      <p>No Jobs Found in blore</p>
    {% endif %}
  </body>
</html>
